@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --sidebar-width: 200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
}

button {
    cursor: pointer;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1rem;
    background-color: black;
    color: white;
    height: 100vh;
    width: var(--sidebar-width);
    text-align: center;
    gap: 1.5rem;
}

.sidebar_logo {
    width: 50px;
    height: 50px;
}

.sidebar_link_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    a {
        color: white;
        text-decoration: none;
    }
}

.sidebar_links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main_page {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    padding: 4.75rem 3.25rem 0 calc(var(--sidebar-width) + 3.25rem);
}

.main_title_and_actions_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.main_title_info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.main_title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    font-size: xxx-large;
    max-width: 80%;
    text-align: center;
}

.main_logo {
    width: 64px;
    height: 64px;
}

.main_title_event_and_date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.main_title_date {
    font-weight: lighter;
}

.main_title_actions_wrapper {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
}

.main_title_register_btn {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 1rem;
    width: 10rem;
    height: 3.5rem;
}

.main_title_read_more_btn {
    background-color: white;
    border: 1px solid black;
    padding: 10px 1rem;
    width: 10rem;
    height: 3.5rem;
}

.main_who_we_are_wrapper {
    display: flex;
    gap: 1.25rem;
    max-width: 1200px;
    align-self: center;
}

.who_we_are_img {
    height: 50px;
    width: 50px;
}

.who_we_are_details {
    border-left: 2px solid gray;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    line-height: 1.75rem;
}

.main_who_we_are_icons {
    color: gray;
}

.about_page {
    display: flex;
    max-width: 1200px;
    align-self: center;
    flex-direction: column;
    gap: 6.25rem;
}

.about_page_main_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9.375rem;
}

.about_title_and_cards_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.125rem;
}

.about_page_cards {
    display: flex;
    gap: 1.5rem;
    justify-content: center;

    > div {
        padding: 2.25rem;
        border: 1px solid black;
        box-shadow: rgba(100, 100, 100, 50%) 10px 10px 10px;
        width: 300px;
        line-height: 1.75rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.about_page_final_pitch {
    max-width: 800px;
}

.about_page_prizes {
    display: flex;
    gap: 5rem;

    > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

.about_page_images_wrapper {
    display: flex;
    justify-content: center;
    gap: 6.25rem;

    > img {
        width: 100px;
        height: 100px;
    }
}